@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    No mundo educacional são encontradas diversas dificuldades que impossibilitam o bom aprendizado de seus alunos,
    como por exemplo a infraestrutura, falta de materiais e segurança, a partir deste fato notasse que o dialogo
    encontrasse escasso em relação aos problemas encontrados cotidianamente nos institutos educacionais,
    pois é comum haver situações que afastam servidores e alunos, podendo ser o horário, reuniões com a participação
    de docentes, e/ou outros motivos.
</p>
<p>
    O IFSolutions é uma ferramenta Web designada a comunicação entre os educandos e docentes,
    visando inicialmente a integração de Campus localizados no Rio Grande do Norte.
    Possuindo como objetivo de atingir problemas em geral encontrados dentro e fora desses institutos.
</p>
<p>
    Problemas dos quais serão resolvidos através de criações de petições feitas pelos usuários, onde é dada a liberdade
    para que possam se expressar de maneira respeitosa em relação as adversidades de ideias e a necessidade do Campus.
    Após a petição ser feita, ela entrará automaticamente em um processo de “seleção”, onde outros alunos poderão assina-la
    se os mesmos obstáculos forem vistos por eles ou se no Campus eles passam pelo mesmo fator. Ao fim, as mais assinadas
    serão enviadas pelo administrador aos representantes do Campus em que tal falha foi encontrada, podendo ser revolvida ou não.
</p>