@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Antônia de Lima Paiva, 155<br />
    Nova Esperança<br />
    Parnamirim, RN 59143-455<br />
    <abbr title="Phone">P:</abbr>
    4005-4103
</address>