@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IFSolutions</h1>
    <p class="lead">Crie já sua conta para interagir! Crie suas petições, comente e assine petições dos seus colegas.</p>
    <p>@Html.ActionLink("Criar Conta", "Register", "Account", null, new { @class = "btn btn-primary btn-lg"})</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Explore petições</h2>
        <p>
            Não quer se cadastrar ainda? Não tem problema! Veja as petições já cadastradas pelos alunos do IFRN.
        </p>
        <p>@Html.ActionLink("Ver Petições", "Index", "Explore", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Cadastre-se</h2>
        <p>Pronto para criar suas próprias petições? Cadastre-se agora!</p>
        <p>@Html.ActionLink("Cadastre-se", "Register", "Account", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>IFRN</h2>
        <p>Acesse o site do IFRN e fique por dentro das últimas notícias da instituição.</p>
        <p><a class="btn btn-default" href="http://portal.ifrn.edu.br">IFRN &raquo;</a></p>
    </div>
</div>