@model IFSolutions.Models.Comment

<div class="form-group">
    @Html.HiddenFor(m => m.PetitionID)

    @Html.TextAreaFor(m => m.Content, new { @placeholder = "Seu comentário", @class = "form-control", @id = "comment-textbox" })
</div>
<button type="submit" class="btn btn-default" style="vertical-align: bottom">Comentar</button>
